{% extends 'ffg/base.html' %}
{% load i18n static %}

{% block head_title %}
  {% trans "Welcome to FFG-Immobiles" %}
{% endblock %}

{% block main %}
  <div class="row">
	  <div class="col-xl-5 jumbotron mb-0 mr-5">
		  <h1 class="display-5">{% trans "Offers" %}</h1>
		  <p class="lead">{% trans "For small and also large companies, we have various immobiles and areas on offer" %}</p>
		  <hr class="my-4">
		  <p>{% trans "Both offices and meeting rooms, but also storage rooms are rented by us. We also offer parking areas." %}</p>
		  <a class="btn btn-primary btn-lg" href="{% url 'offers' %}" role="button">{% trans "To the offers" %}</a>
		</div>
		<div class="col-xl-5 card ml-5 p-0">
		  <h5 class="card-header">{% trans "Contact" %}</h5>
		  <div class="card-body">
		    <h5 class="card-title">{% trans "You can reach us via our contact formular." %}</h5>
		    <p class="card-text">{% trans "Feel free to write an email to us." %}</p>
		    <a href="{% url 'contact_form' %}" class="btn btn-primary">{% trans "To the contact formular" %}</a>
		    <hr>
		    <h5 class="card-title">{% trans "Our company is located in Cologne" %}</h5>
        <p class="card-text">{% trans "Here you will find the way to us and the immobiles." %}</p>
        <a href="{% url 'location_and_approach' %}" class="btn btn-primary">{% trans "To location & approach" %}</a>
		  </div>
		</div>
	</div>
{% endblock %}