{% extends 'ffg/base.html' %}
{% load i18n static %}

{% block head_title %}
  {% trans "Welcome to FFG-Immobiles" %}
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "imprint" %}">{% trans "Imprint" %}</a></li>
  </ol>
{% endblock %}

{% block main %}
  <div class="col-12">
    <div class="row justify-content-center">
		  <ul class="list-group col-sm-12 col-md-10 col-lg-8 col-xl-6">
			  <li class="list-group-item">
			    <p class="font-weight-bold mt-2">{% trans "FFG - society of civil law" %}</p>
          <div class="d-flex mb-2">
            <span>{% trans "Street:" %}</span>
            <span class="ml-auto">{% trans "Von-Hünefeld-Str. 2, 50829 Cologne" %}</span>
          </div>
          <div class="d-flex mb-2">
            <span>{% trans "Tax id number:" %}</span>
            <span class="ml-auto">DE218136229</span>
          </div>
		    </li>
		    <li class="list-group-item">
			    <p class="font-weight-bold mt-2">{% trans "Executive Partner:" %}</p>
		      <p >Josef Gauls</p>
			  </li>
			  <li class="list-group-item">
			    <p class="font-weight-bold mt-2">{% trans "Shareholder:" %}</p>
          <p>Andreas Paulsen</p>
          <div class="d-flex">
            <span>{% trans "E-mail:" %}</span>
            <a href="#" class="ml-auto">Andreas.Paulsen@ffg-gbr.de</a>
          </div>
          <div class="d-flex">
            <span>{% trans "Telephone:" %}</span>
            <span class="ml-auto">+49 221 5342 2016</span>
          </div>
          <div class="d-flex mb-2">
            <span>{% trans "Fax:" %}</span>
            <span class="ml-auto">+49 221 5342 3016</span>
          </div>
        </li>
			  <li class="list-group-item">
	        <p class="font-weight-bold mt-2">{% trans "Contact possibilities" %}</p>
	        <div class="d-flex">
	          <span>{% trans "E-mail:" %}</span>
	          <a href="#" class="ml-auto">info@ffg-gbr.de</a>
	        </div>
	        <div class="d-flex">
	          <span>{% trans "Telephone:" %}</span>
	          <span class="ml-auto">+49 221 5342 - 5900</span>
	        </div>
          <div class="d-flex mb-2">
            <span>{% trans "Fax:" %}</span>
            <span class="ml-auto">+49 221 6502609</span>
          </div>
	      </li>
			  <li class="list-group-item">
	        <p class="font-weight-bold mt-2">{% trans "Concept, design & technical implementation" %}</p>
	        <p class="mb-2">Patrick Gauls</p>
	      </li>
			  <li class="list-group-item">
	        <p class="font-weight-bold mt-2">{% trans "Photo credit" %}</p>
	        <p>Brian Grundy</p>
          <div class="d-flex">
            <span>{% trans "E-mail:" %}</span>
            <a href="#" class="ml-auto">Brian.Grundy@ffg-gbr.de</a>
          </div>
          <div class="d-flex">
            <span>{% trans "Telephone:" %}</span>
            <span class="ml-auto">+49 221 5342 2013</span>
          </div>
          <div class="d-flex mb-2">
            <span>{% trans "Fax:" %}</span>
            <span class="ml-auto">+49 221 5342 3013</span>
          </div>
	      </li>
			</ul>
		</div>
  </div>
{% endblock %}